# 1. Uppgift: Vilket koldioxidutsläpp genererar en livslängd på 72 år?

Er uppgift är att beräkna det totala koldioxidutsläppet för en individ som levt mellan 1945-2017 med hjälp av Trapetsregeln och Simpsons Regel. Till er hjälp har ni 25 st mätvärden som anger utsläppshastighet per capita/år (1945, 1948,1951...2017). Ni har även en grafisk representation av dessa mätvärden. Ni startar med det land ni blivit tilldelade som grupp och avslutar med att göra beräkningar för alla länderna. Tänk på att även om arbetet sker i grupp så är det av stor vikt att alla förstår vad ni gör eftersom gruppens medlemmar indivduellt kommer göra en inspelning där man ska kunna förklara gruppens dokument. Under rubriken "2. Mätdata" finns den information ni behöver om länderna Albanien, Brunei, Finland, Nordkorea, Sverige och USA.

### Gruppen ska tillsammans:

$\surd$Göra beräkningar för minst tre olika värden på $n$ ($n_1,n_2$ och $n_3$), tänk på att det ska gå att genomföra beräkningarna för samma $n_1-n_3$för både Trapetsregeln och Simpsons regel. $n_3$ ska var det maximala värdet som är möjligt på $n$ utifrån de mätvärden ni har tillgång till.
  
$\bullet$ Innan ni gör beräkningarna uppskatta utifrån den grafiska representationen av mätvärdena hur ni tror uppskattningen kommer bli för $n_1-n_3$ i förhållande till det faktiska värdet. Rita gärna i grafen. Vad är $h$, $a$ och $b$?<br/><br/>
$\bullet$ Gör beräkningarna för $n_1$ och $n_2$, spara era anteckningar så ni kan bifoga dem till inlämningen.<br/><br/>
$\bullet$Implementera i Python för värdet på $n_3$. Ni får givetvis gärna göra så programmet kan köra för olika värden på $n$ men det är inget krav. Återanvänd gärna kod från uppgifterna vi arbetat med i arbetsboken om Trapetsregeln och Simpsons Regel.
    
$\surd$Gör en jämförelse mellan (åtminstonde) länderna som finns under rubrikerna 2.1-2.6 för $n_3$. Ni får gärna välja egna länder som ni tycker känns relevanta eller intressanta istället för dessa länder (men då måste ni plocka fram mätdata själva via 
[Our World in Data](https://ourworldindata.org/co2/country/sweden?country=~SWE).

$\surd$ Presentera era resultat och beräkningar på ett tydligt sätt.


För den som är lite ihärdig och nyfiken finns möjligheter att räkna ut ett "facit" via [Our World in Data](https://ourworldindata.org/co2/country/sweden?country=~SWE)


### Individuellt:
Göra en inspelning där du förklarar det resultat och reflektioner ni som grupp presenterar i ert dokument.Tänk på att:<br/><br/>
$\surd$ Förklara varför ni valt de värden ni valt på $n_1-n_3$ och vad de olika variablerna $h$,$a$ och $b$ betyder i era beräkningar.<br/><br/>
$\surd$ Motivera uppskattningen av resulaten med hjälp av grafen utifrån de faktsika värdena.<br/><br/>
$\surd$ Motivera och förklara hur ni gjort olika beräkningar.<br/><br/>
$\surd$ Förklara hur koden i Python fungerar.<br/><br/>
$\surd$ Finns det sätt du kan tänka på som skulle kunna förbättre er kod eller utveckla den.<br/><br/>
$\surd$ Övriga synpunkter eller ideer om utveckling av beräkningarna.

# 2. Mätdata: Albanien, Brunei, Finland, Nordkorea, Sverige och USA.

<img src="alla1.png" width="1000">

In [29]:
import pandas as pd
import numpy as np

#om man inte vill använda alla kolumner från excelfilen går det att använda usecols och välja kolumner som ska importeras.
cols=[1,2,3,4,5,6] 

#importerar data från excel filen lander och usecol anger vilka kolumner som ska visas
df = pd.read_excel (r'lander.xlsx', usecols=cols)
print (df)

#Listor med mätvärden för de olika länderna

Alblista=df['Albanien'] 
Brulista=df['Brunei'] 
Finlista=df['Finland'] 
Norlista=df['Nordkorea'] 
Svelista=df['Sverige'] 
USAlista=df['USA'] 

#Tänk på att första elementet i en lista är 0
print (f'\n\n\nEtt litet tips! Glöm inte att första elementet i en lista är "0", så första mätvärdet (0) för Albaninen är {Alblista[0]}') .

    Albanien  Brunei  Finland  Nordkorea  Sverige  USA
0       0.10     NaN      NaN        NaN      NaN  NaN
1       0.57     NaN      NaN        NaN      NaN  NaN
2       0.31     NaN      NaN        NaN      NaN  NaN
3       0.36     NaN      NaN        NaN      NaN  NaN
4       1.00     NaN      NaN        NaN      NaN  NaN
5       1.24     NaN      NaN        NaN      NaN  NaN
6       1.16     NaN      NaN        NaN      NaN  NaN
7       1.31     NaN      NaN        NaN      NaN  NaN
8       1.54     NaN      NaN        NaN      NaN  NaN
9       2.50     NaN      NaN        NaN      NaN  NaN
10      1.90     NaN      NaN        NaN      NaN  NaN
11      2.52     NaN      NaN        NaN      NaN  NaN
12      2.68     NaN      NaN        NaN      NaN  NaN
13      2.69     NaN      NaN        NaN      NaN  NaN
14      2.38     NaN      NaN        NaN      NaN  NaN
15      1.68     NaN      NaN        NaN      NaN  NaN
16      0.73     NaN      NaN        NaN      NaN  NaN
17      0.65     NaN      NaN        NaN      NaN  NaN
18      0.96     NaN      NaN        NaN      NaN  NaN
19      1.20     NaN      NaN        NaN      NaN  NaN
20      1.38     NaN      NaN        NaN      NaN  NaN
21      1.46     NaN      NaN        NaN      NaN  NaN
22      1.79     NaN      NaN        NaN      NaN  NaN
23      1.89     NaN      NaN        NaN      NaN  NaN
24      1.61     NaN      NaN        NaN      NaN  NaN



Ett litet tips! Glöm inte att första elementet i en lista är "0", så första mätvärdet (0) för Albaninen är 0.1

## 2.1 Albanien

<img src="alb.png" width="500">

In [23]:
print (Alblista)

0     0.10
1     0.57
2     0.31
3     0.36
4     1.00
5     1.24
6     1.16
7     1.31
8     1.54
9     2.50
10    1.90
11    2.52
12    2.68
13    2.69
14    2.38
15    1.68
16    0.73
17    0.65
18    0.96
19    1.20
20    1.38
21    1.46
22    1.79
23    1.89
24    1.61
Name: Albanien, dtype: float64

## 2.2 Brunei

<img src="brunei.png" width="500">

In [34]:
print (Brulista)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
Name: Brunei, dtype: float64

## 2.3 Finland

<img src="fin2.png" width="500">

In [30]:
print (Finlista)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
Name: Finland, dtype: float64

## 2.4 Nordkorea

<img src="nord.png" width="500">

In [31]:
print (Norlista)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
Name: Nordkorea, dtype: float64

## 2.5 Sverige

<img src="sverige.png" width="500">

In [32]:
print (Svelista)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
Name: Sverige, dtype: float64

## 2.6 USA

<img src="usa.png" width="500">

In [33]:
print (USAlista)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
Name: USA, dtype: float64